lightning-badge {
    font-size: 1.5rem;
    margin: 0 1.5rem;
}

h1 {
    font-size: 1.5rem;
}

.pagination {
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
}

.item-container {
    display: flex;
    justify-content: space-between;
    min-height: 85px;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    margin: 0 1.5rem;

}

.flight-list {
    max-height: 500px;
    min-height: 250px;
    overflow: auto;
    border-radius: 0.25rem;
    border: 1px solid;
    padding: 1rem 1rem;
    margin: 1.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

