<template>
    <lightning-card>
        <div lwc:if={isFlightSelected} class="slds-p-bottom_large">
            <lightning-badge label={label.selectedFlightTtl}></lightning-badge>
            <lightning-layout>
                <lightning-layout-item class="slds-p-vertical_medium" size="12">
                    <div class="item-container">
                        <lightning-input
                                label={label.flightNumberLbl}
                                value={selectedFlight.Name}
                                read-only
                        ></lightning-input>
                        <lightning-input
                                label={label.dateOfDepartureLbl}
                                value={selectedFlight.dateOfDeparture}
                                read-only
                        ></lightning-input>
                        <lightning-input
                                label={label.timeOfDepartureLbl}
                                value={selectedFlight.timeOfDeparture}
                                read-only
                        ></lightning-input>
                        <lightning-button
                                class="slds-col slds-size_2-of-12 slds-grid slds-grid_align-end"
                                label={label.removeBtn}
                                onclick={handleCancelFlightClick}
                        ></lightning-button>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>

        <lightning-badge label={label.availableFlightTtl}></lightning-badge>
        <lightning-layout class="flight-list">
            <div if:false={hidePagination} class="pagination">
                <div class="slds-p-right_small">Page {currentPage} of {totalPages}</div>
                <lightning-button
                        class="slds-p-left_medium slds-p-right_x-small"
                        label="previous"
                        onclick={handlePageChange}
                        variant="base"
                        disabled={disablePrevious}
                ></lightning-button>
                |
                <lightning-button
                        class="slds-p-right_medium slds-p-left_x-small"
                        label="next"
                        onclick={handlePageChange}
                        variant="base"
                        disabled={disableNext}
                ></lightning-button>
                <div class="slds-p-horizontal_medium">{fromToRecords}</div>
            </div>
            <template lwc:if={displayedRecords.length}>
                <template for:each={displayedRecords} for:item="flight">
                    <lightning-layout-item key={flight.Id} class="slds-p-vertical_medium" size="12">
                        <lightning-record-view-form record-id={flight.Id} object-api-name={flightObjectName}>
                            <div class="item-container">
                                <lightning-output-field field-name="Name"></lightning-output-field>
                                <lightning-output-field field-name="Start_Date__c"></lightning-output-field>
                                <div class="slds-size_1 slds-align_absolute-center">
                                    {label.ticketsLeftLbl} : {flight.Tickets__r.length}
                                </div>
                                <lightning-button
                                        data-id={flight.Id}
                                        class="slds-col slds-size_2-of-12 slds-grid slds-grid_align-end"
                                        label={label.bookBtn}
                                        variant="brand"
                                        onclick={handleBookButtonClick}
                                ></lightning-button>
                            </div>
                        </lightning-record-view-form>
                    </lightning-layout-item>
                </template>
            </template>
            <div if:false={displayedRecords.length} class="slds-align_absolute-center">
                <h1>{label.noRecordsMsg}</h1>
            </div>
        </lightning-layout>
        <lightning-spinner
                if:true={isLoading}
                alternative-text="Loading"
                size="large"
                variant="brand"
        ></lightning-spinner>
    </lightning-card>
</template>