<template>
    <lightning-modal-header label={header}></lightning-modal-header>
    <lightning-modal-body> {content} </lightning-modal-body>
    <lightning-modal-footer>
        <lightning-button label={labels.cancelBtn} onclick={handleCancel}></lightning-button>
        <lightning-button
                label={labels.confirmBtn}
                class="slds-p-horizontal_medium"
                variant="brand"
                onclick={handleConfirm}
        ></lightning-button>
    </lightning-modal-footer>
</template>